@import "./typography.css";

.display-xl-bold {
    font: var(--font-display-xl-bold);
    letter-spacing: var(--letter-spacing-display-xl-bold);
}

.display-xl-semibold {
    font: var(--font-display-xl-semibold);
    letter-spacing: var(--letter-spacing-display-xl-semibold);
}